.title {
    text-align: center;
}
.form-control {
    width: 40vh;
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
}
.title {
    text-align: center;
}
#city-form {
    padding-left: 40px;
    padding-bottom: 30px;

}
.form-control {
    width: 40vh;
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 10px;
}
.form-radio {
    display: flex;
    gap: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
}

