header {
    width: 100%;
    background-color: #000000;

}

nav {
    margin-left: auto;
    margin-right: auto;
    max-width: 1230px;
}

ul {
    padding: 0;
    margin: 0;
    height: 50px;
    display: flex;
    column-gap: 15px;
    align-items: center;
}

ul li a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    transition: font-size 0.15s ease-in-out;
    font-family: "Arial", sans-serif;
    font-weight: 100;
}

ul li a:hover {
    font-size: 19px;
    font-weight: bold;
    color: #f5f1f1;
}


.active {
    font-weight: bold;
    color: red;

    &:hover {
        color: red;
    }
}